@import "./variables";

.navigation {
  height: $mobile-navigation-height;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

  background-color: #000;

  @media (min-width: 900px) {
    height: $desktop-navigation-height;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hamburger-btn {
    color: #fff;

    @media (min-width: 900px) {
      display: none;
    }
  }

  .title {
    font-family: TF2 Build;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }

    img {
      padding-left: 1rem;
      height: 50px;
    }
  }

  .nav-items {
    display: none;
    font-family: TF2 Secondary;

    a {
      color: white;
      text-decoration: none;
      line-height: 36px;
      padding: 0 1rem 0 1rem;
    }

    @media (min-width: 900px) {
      display: flex;
      justify-content: center;
    }
  }
}

.mobile-nav a {
  color: inherit;
  text-decoration: none;
}
