.navigation {
  height: calc(100% - 64px);

  .mat-toolbar-row {
    backdrop-filter: blur(30px) brightness(115%) opacity(50%);
    -webkit-backdrop-filter: blur(30px);
    padding: 1rem 2rem;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-items {
      font-family: TF2 Secondary;

      a {
        color: white;
        text-decoration: none;
      }
    }
  }

  .mat-drawer {
    width: 10rem;
    backdrop-filter: blur(30px) brightness(115%) opacity(100%);
    -webkit-backdrop-filter: blur(30px);
  }

  .title {
    font-family: TF2 Build;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }
  }
}