<div class="navigation">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span class="menu-spacer" fxHide.lt-md></span>
      <div class="title">
        <span class="title" routerLink="/">TF2 Hub</span>
        <img src="/assets/img/logo_small.png" style="padding-left: 1rem; height: 50px" />
      </div>
      <div class="nav-items" fxShow="true" fxHide.lt-md>
        <a mat-button href="https://github.com/sponsors/theaswanson" target="_blank">Become a Sponsor</a>
      </div>
      <span class="menu-spacer" fxHide.gt-sm></span>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a mat-button href="https://github.com/sponsors/theaswanson" target="_blank">Become a Sponsor</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="2rem">
        <div fxFlex="15"></div>
        <div fxFlex="70">
          <div class="content">
            <div class="container">
              <router-outlet></router-outlet>
            </div>
            <app-footer></app-footer>
          </div>
        </div>
        <div fxFlex="15"></div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
