<div class="welcome">
  <div class="title">Welcome!</div>
  <div class="text" fxLayout="column" fxLayoutGap="1rem">
    <div>Here you can find all of the most popular TF2-related sites, including official sites,
      trading sites, community projects, and more.</div>
    <div>This site was created with the intent of helping newcomers to TF2 find helpful resources all in one place.
    </div>
    <div>TF2 Hub is still in development, but if you find a problem or would like to request a feature, please visit our
      <a href="https://github.com/theaswanson/tf2hub" target="_blank">GitHub repo</a>.</div>
  </div>
</div>
<div class="filters" fxLayout="row" fxLayoutGap="1rem">
  <div class="card" *ngFor="let tag of tags" (click)="selectTag(tag)">
    <div class="card-content" [ngClass]="{'selected': (tag.selected)}">
      <div class="header">
        <div class="title"><span>{{tag.text}}</span></div>
      </div>
    </div>
  </div>
</div>
<div class="search">
  <div class="card">
    <div class="card-content">
      <input type="text" placeholder="Search..." [ngModel]="searchText" (input)="searchChanged($event.target.value)" />
    </div>
  </div>
</div>
<app-card-display [data]="data"></app-card-display>
