<mat-grid-list cols="2" rowHeight="4:3">
  <mat-card routerLink="/official-sites">
    <h1>Official Sites</h1>
  </mat-card>
  <mat-card routerLink="/projects">
    <h1>Projects</h1>
  </mat-card>
  <mat-card routerLink="/communities">
    <h1>Communities</h1>
  </mat-card>
  <mat-card routerLink="/trading">
    <h1>Trading</h1>
  </mat-card>
  <mat-card routerLink="/marketplaces">
    <h1>Marketplaces</h1>
  </mat-card>
  <mat-card routerLink="/competitive">
    <h1>Competitive</h1>
  </mat-card>
</mat-grid-list>

<h1>Welcome!</h1>
<p>Here you can find all of the most popular TF2-related sites, including official sites,
  trading sites, community projects, and more.</p>
<p>This site was created with the intent of helping newcomers to TF2 find helpful resources all in one place.</p>
<p>
  TF2Hub is still in development, but if you find a problem or would like to request a feature, please visit our
  <a href="https://github.com/theaswanson/tf2hub" target="_blank">GitHub repo</a>.
</p>
