@import "../../styles";

.home {
  padding: 1rem;
}

.welcome {
  .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
  }

  .text {
    padding-top: 1rem;
  }
}

.filters {
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem 0;
}

.selected {
  // box-sizing: border-box;
  // -moz-box-sizing: border-box;
  // -webkit-box-sizing: border-box;
  // border: 0.2rem solid white;
  -webkit-box-shadow: inset 0px 0px 0px 0.25rem white;
  -moz-box-shadow: inset 0px 0px 0px 0.25rem white;
  box-shadow: inset 0px 0px 0px 0.25rem white;
}

.card {
  @extend .no-select;
  margin: 0.5rem 0;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  .card-content {
    padding: 1rem;

    .header {
      .title {
        display: flex;
        justify-content: center;
        font-size: 1.2rem;
      }
    }
  }
}

.search {
  padding-bottom: 2rem;
  
  .card {
    &:hover {
      cursor: default;
    }

    .card-content input {
      background: none;
      border: none;
      outline: none;
      font-family: TF2 Build;
      letter-spacing: 1px;
      color: white;
      font-size: 1.2rem;
      width: 100%;
    }
  }
}
