<div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="2rem">
  <div fxFlex="50">
    <div class="card">
      <div class="card-content">
        <div class="header">
          <div class="title">teamfortresstv</div>
          <div class="subtitle">teamfortress.tv</div>
        </div>
        <div class="text">
          "The home of competitive Team Fortress 2."
        </div>
        <div class="links">
          <a mat-button href="https://www.teamfortress.tv/" target="_blank">Website</a>
          <a mat-button href="https://twitter.com/teamfortresstv" target="_blank">Twitter</a>
          <a mat-button href="https://discord.gg/0if53iRT2W4nyL6t" target="_blank">Discord</a>
          <a mat-button href="http://youtube.com/user/teamfortresstv" target="_blank">YouTube</a>
          <a mat-button href="http://twitch.tv/teamfortresstv" target="_blank">Twitch</a>
        </div>
        <div class="image">
          <img src="../../assets/img/teamfortresstv.jpg" alt="teamfortresstv" />
        </div>
      </div>
    </div>
  </div>
  <div fxFlex="50">
    <div class="card">
      <div class="card-content">
        <div class="header">
          <div class="title">comp.tf</div>
          <div class="subtitle">comp.tf</div>
        </div>
        <div class="text">
          "comp.tf is the Competitive TF2 Wiki. We aim to provide the community with a free, neutral and comprehensive
          summary of current and historical competitive TF2 knowledge. Players, teams, tournaments, maps and classes
          pages are our most popular forms of content."
        </div>
        <div class="links">
          <a mat-button href="https://comp.tf/" target="_blank">Website</a>
          <a mat-button href="https://twitter.com/comptfwiki" target="_blank">Twitter</a>
          <a mat-button href="https://discord.gg/VvRZp7e" target="_blank">Discord</a>
        </div>
        <div class="image">
          <img src="../../assets/img/comptf.jpg" alt="comp.tf" />
        </div>
      </div>
    </div>
  </div>
</div>

<div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="2rem">
  <div fxFlex="50">
    <div class="card">
      <div class="card-content">
        <div class="header">
          <div class="title">TF2 Center</div>
          <div class="subtitle">tf2center.com</div>
        </div>
        <div class="text">
          "TF2Center was created to help bridge the gap between public and competitive play for TF2. TF2Center is a
          place
          to play TF2 games based on specific competitive game-modes like 6v6 and Highlander. Newer players can take
          advantage of our lobby system to create games without needing to get a server personally, whilst more
          experienced players can ensure games are competitive by imposing restrictions."
        </div>
        <div class="links">
          <a mat-button href="https://tf2center.com/" target="_blank">Website</a>
          <a mat-button href="https://steamcommunity.com/groups/tf2-center" target="_blank">Steam Group</a>
        </div>
        <div class="image">
          <img src="../../assets/img/tf2center.jpg" alt="TF2 Center" />
        </div>
      </div>
    </div>
  </div>
  <div fxFlex="50">
    <div class="card">
      <div class="card-content">
        <div class="header">
          <div class="title">serveme.tf</div>
          <div class="subtitle">serveme.tf</div>
        </div>
        <div class="text">
          "The easiest way to get a TF2 server."
        </div>
        <div class="links">
          <a mat-button href="https://serveme.tf/" target="_blank">EU Website</a>
          <a mat-button href="https://na.serveme.tf/" target="_blank">NA Website</a>
          <a mat-button href="https://sea.serveme.tf/" target="_blank">SEA Website</a>
          <a mat-button href="https://discord.gg/0s38RdItLiCmARMm" target="_blank">Discord</a>
          <a mat-button href="https://twitter.com/servemetf" target="_blank">Twitter</a>
          <a mat-button href="https://github.com/Arie/serveme" target="_blank">GitHub</a>
        </div>
        <div class="image">
          <img src="../../assets/img/servemetf.png" alt="serveme.tf" />
        </div>
      </div>
    </div>
  </div>
</div>
