<div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="2rem">
  <div fxFlex="50">
    <div class="card">
      <div class="card-content">
        <div class="header">
          <div class="title">teamfortresstv</div>
          <div class="subtitle">Game Broadcaster, Competitive Community</div>
        </div>
        <div class="text">
          "The home of competitive Team Fortress 2."
        </div>
        <div class="links">
          <a mat-button href="https://www.teamfortress.tv/" target="_blank">Website</a>
          <a mat-button href="https://twitter.com/teamfortresstv" target="_blank">Twitter</a>
          <a mat-button href="https://discord.gg/0if53iRT2W4nyL6t" target="_blank">Discord</a>
          <a mat-button href="http://youtube.com/user/teamfortresstv" target="_blank">YouTube</a>
          <a mat-button href="http://twitch.tv/teamfortresstv" target="_blank">Twitch</a>
        </div>
        <div class="image">
          <img src="../../assets/img/teamfortresstv.jpg" alt="teamfortresstv" />
        </div>
      </div>
    </div>
  </div>
  <div fxFlex="50">
    <div class="card">
      <div class="card-content">
        <div class="header">
          <div class="title">comp.tf</div>
          <div class="subtitle">Informational</div>
        </div>
        <div class="text">
          "comp.tf is the Competitive TF2 Wiki. We aim to provide the community with a free, neutral and comprehensive
          summary of current and historical competitive TF2 knowledge. Players, teams, tournaments, maps and classes
          pages are our most popular forms of content."
        </div>
        <div class="links">
          <a mat-button href="https://comp.tf/" target="_blank">Website</a>
          <a mat-button href="https://twitter.com/comptfwiki" target="_blank">Twitter</a>
          <a mat-button href="https://discord.gg/VvRZp7e" target="_blank">Discord</a>
        </div>
        <div class="image">
          <img src="../../assets/img/comptf.jpg" alt="comp.tf" />
        </div>
      </div>
    </div>
  </div>
</div>

<div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="2rem">
  <div fxFlex="50">
    <div class="card">
      <div class="card-content">
        <div class="header">
          <div class="title">TF2 Center</div>
          <div class="subtitle">Pick-up Games</div>
        </div>
        <div class="text">
          "TF2Center was created to help bridge the gap between public and competitive play for TF2. TF2Center is a
          place
          to play TF2 games based on specific competitive game-modes like 6v6 and Highlander. Newer players can take
          advantage of our lobby system to create games without needing to get a server personally, whilst more
          experienced players can ensure games are competitive by imposing restrictions."
        </div>
        <div class="links">
          <a mat-button href="https://tf2center.com/" target="_blank">Website</a>
          <a mat-button href="https://steamcommunity.com/groups/tf2-center" target="_blank">Steam Group</a>
        </div>
        <div class="image">
          <img src="../../assets/img/tf2center.jpg" alt="TF2 Center" />
        </div>
      </div>
    </div>
  </div>
  <div fxFlex="50">
    <div class="card">
      <div class="card-content">
        <div class="header">
          <div class="title">serveme.tf</div>
          <div class="subtitle">Server Hosting</div>
        </div>
        <div class="text">
          "The easiest way to get a TF2 server."
        </div>
        <div class="links">
          <a mat-button href="https://serveme.tf/" target="_blank">EU Website</a>
          <a mat-button href="https://na.serveme.tf/" target="_blank">NA Website</a>
          <a mat-button href="https://sea.serveme.tf/" target="_blank">SEA Website</a>
          <a mat-button href="https://discord.gg/0s38RdItLiCmARMm" target="_blank">Discord</a>
          <a mat-button href="https://twitter.com/servemetf" target="_blank">Twitter</a>
          <a mat-button href="https://github.com/Arie/serveme" target="_blank">GitHub</a>
        </div>
        <div class="image">
          <img src="../../assets/img/servemetf.png" alt="serveme.tf" />
        </div>
      </div>
    </div>
  </div>
</div>

<div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="2rem">
  <div fxFlex="50">
    <div class="card">
      <div class="card-content">
        <div class="header">
          <div class="title">RGL</div>
          <div class="subtitle">TF2 League (North America)</div>
        </div>
        <div class="text">
          "RGL.gg is the largest NA TF2 league. Focused on evolving, growing and pushing the TF2 competitive
          community forward."
        </div>
        <div class="links">
          <a mat-button href="https://rgl.gg/" target="_blank">Website</a>
          <a mat-button href="https://twitch.tv/RGLgg" target="_blank">Twitch</a>
          <a mat-button href="https://youtube.com/c/RGLgg" target="_blank">YouTube</a>
          <a mat-button href="https://twitter.com/RGL_gg" target="_blank">Twitter</a>
          <a mat-button href="https://rgl.gg/PUGs" target="_blank">Discord</a>
          <a mat-button href="https://steamcommunity.com/groups/RGLgg" target="_blank">Steam Group</a>
        </div>
        <div class="image">
          <img src="../../assets/img/rgl.png" alt="RGL" />
        </div>
      </div>
    </div>
  </div>
  <div fxFlex="50">
    <div class="card">
      <div class="card-content">
        <div class="header">
          <div class="title">ETF2L</div>
          <div class="subtitle">TF2 League (European Union)</div>
        </div>
        <div class="text">
          "The European Team Fortress 2 League."
        </div>
        <div class="links">
          <a mat-button href="https://etf2l.org/" target="_blank">Website</a>
          <a mat-button href="https://twitter.com/ETF2L" target="_blank">Twitter</a>
          <a mat-button href="https://facebook.com/etf2l" target="_blank">Facebook</a>
          <a mat-button href="https://steamcommunity.com/groups/etf2l" target="_blank">Steam Group</a>
        </div>
        <div class="image">
          <img src="../../assets/img/etf2l.png" alt="ETF2L" />
        </div>
      </div>
    </div>
  </div>
</div>

<div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="2rem">
  <div fxFlex="50">
    <div class="card">
      <div class="card-content">
        <div class="header">
          <div class="title">UGC</div>
          <div class="subtitle">TF2 League</div>
        </div>
        <div class="text">
          Leagues for Highlander, 6v6, 4v4, and Ultiduo.
        </div>
        <div class="links">
          <a mat-button href="https://ugcleague.com/index.cfm" target="_blank">Website</a>
          <a mat-button href="https://twitch.tv/ugcleague" target="_blank">Twitch</a>
          <a mat-button href="https://facebook.com/UnitedGamingClans" target="_blank">Facebook</a>
          <a mat-button href="https://twitter.com/ugcleague" target="_blank">Twitter</a>
          <a mat-button href="https://youtube.com/user/UGCLeagueTF2/videos" target="_blank">YouTube</a>
        </div>
        <div class="image">
          <img src="../../assets/img/ugc.png" alt="UGC" />
        </div>
      </div>
    </div>
  </div>
  <div fxFlex="50">
    <div class="card">
      <div class="card-content">
        <div class="header">
          <div class="title">EssentialsTF</div>
          <div class="subtitle">Game Broadcaster</div>
        </div>
        <div class="text">
          "Broadcasting the best from the top Team Fortress 2 events."
          <br><br>
          "For over 4 years we have powered and produced the largest events in Team Fortress 2.

          In 2015, starting as a production partner of TeamFortress.TV, we provided hardware that powered the broadcast
          of Multiplay’s Insomnia55 TF2 tournament to fans around the world.

          Since then we have expanded to organising our own online competitive TF2 events with sponsored prize pools and
          becoming the primary production organisation for the TF2 tournament at GAME’s Insomnia Gaming Festival events
          working alongside Player1 Events for the past 3 years running."
        </div>
        <div class="links">
          <a mat-button href="https://essentials.tf/" target="_blank">Website</a>
          <a mat-button href="https://twitch.tv/essentialstf" target="_blank">Twitch</a>
          <a mat-button href="https://www.youtube.com/essentialstf" target="_blank">YouTube</a>
          <a mat-button href="https://discord.gg/hyQrEjw" target="_blank">Discord</a>
          <a mat-button href="https://twitter.com/tf2essentials" target="_blank">Twitter</a>
          <a mat-button href="https://instagram.com/essentialstf" target="_blank">Instagram</a>
          <a mat-button href="https://www.facebook.com/essentialstf/" target="_blank">Facebook</a>
        </div>
        <div class="image">
          <img src="../../assets/img/essentialstf.png" alt="EssentialsTF" />
        </div>
      </div>
    </div>
  </div>
</div>
