<div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="2rem">
  <div fxFlex="50">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>teamfortresstv</mat-card-title>
        <mat-card-subtitle>teamfortress.tv</mat-card-subtitle>
      </mat-card-header>
      <a href="https://www.teamfortress.tv/" target="_blank">
        <img mat-card-image src="../../assets/img/teamfortresstv.jpg" alt="teamfortress.tv">
      </a>
      <mat-card-content>
        <p>
          The home of competitive Team Fortress 2.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button href="https://www.teamfortress.tv/" target="_blank">Website</a>
        <a mat-button href="https://twitter.com/teamfortresstv" target="_blank">Twitter</a>
        <a mat-button href="https://discord.gg/0if53iRT2W4nyL6t" target="_blank">Discord</a>
        <a mat-button href="http://youtube.com/user/teamfortresstv" target="_blank">YouTube</a>
        <a mat-button href="http://twitch.tv/teamfortresstv" target="_blank">Twitch</a>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="50">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>comp.tf</mat-card-title>
        <mat-card-subtitle>comp.tf</mat-card-subtitle>
      </mat-card-header>
      <a href="https://comp.tf/" target="_blank">
        <img mat-card-image src="../../assets/img/comptf.jpg" alt="comp.tf">
      </a>
      <mat-card-content>
        <p>
          comp.tf is the Competitive TF2 Wiki. We aim to provide the community with a free, neutral and comprehensive
          summary of current and historical competitive TF2 knowledge. Players, teams, tournaments, maps and classes
          pages are our most popular forms of content.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button href="https://comp.tf/" target="_blank">Website</a>
        <a mat-button href="https://twitter.com/comptfwiki" target="_blank">Twitter</a>
        <a mat-button href="https://discord.gg/VvRZp7e" target="_blank">Discord</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="2rem">
  <div fxFlex="50">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>TF2 Center</mat-card-title>
        <mat-card-subtitle>tf2center.com</mat-card-subtitle>
      </mat-card-header>
      <a href="https://tf2center.com/" target="_blank">
        <img mat-card-image src="../../assets/img/tf2center.jpg" alt="tf2center.com">
      </a>
      <mat-card-content>
        <p>
          TF2Center was created to help bridge the gap between public and competitive play for TF2. TF2Center is a place
          to play TF2 games based on specific competitive game-modes like 6v6 and Highlander. Newer players can take
          advantage of our lobby system to create games without needing to get a server personally, whilst more
          experienced players can ensure games are competitive by imposing restrictions.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button href="https://tf2center.com/" target="_blank">Website</a>
        <a mat-button href="https://steamcommunity.com/groups/tf2-center" target="_blank">Steam Group</a>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="50">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>serveme.tf</mat-card-title>
        <mat-card-subtitle>serveme.tf</mat-card-subtitle>
      </mat-card-header>
      <a href="https://serveme.tf/" target="_blank">
        <img mat-card-image src="../../assets/img/servemetf.png" alt="serveme.tf">
      </a>
      <mat-card-content>
        <p>
          The home of competitive Team Fortress 2.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button href="https://serveme.tf/" target="_blank">EU Website</a>
        <a mat-button href="https://na.serveme.tf/" target="_blank">NA Website</a>
        <a mat-button href="https://sea.serveme.tf/" target="_blank">SEA Website</a>
        <a mat-button href="https://discord.gg/0s38RdItLiCmARMm" target="_blank">Discord</a>
        <a mat-button href="https://twitter.com/servemetf" target="_blank">Twitter</a>
        <a mat-button href="https://github.com/Arie/serveme" target="_blank">GitHub</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
