<div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="2rem">
  <div fxFlex="50">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>backpack.tf</mat-card-title>
        <mat-card-subtitle>backpack.tf</mat-card-subtitle>
      </mat-card-header>
      <a href="https://backpack.tf/" target="_blank">
        <img mat-card-image src="../../assets/img/backpack.jpg" alt="backpack.tf">
      </a>
      <mat-card-content>
        <p>
          Trade TF2 items for other TF2 items.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button href="https://marketplace.tf/" target="_blank">Visit</a>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="50">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Trade.tf</mat-card-title>
        <mat-card-subtitle>trade.tf</mat-card-subtitle>
      </mat-card-header>
      <a href="https://trade.tf/" target="_blank">
        <img mat-card-image src="../../assets/img/trade-logo.png" alt="trade.tf">
      </a>
      <mat-card-content>
        <p>
          Trade.tf is a website to search all trading websites at once with the ability to estimate how much profit can
          be made from the trades.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button href="https://trade.tf/" target="_blank">Visit</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="2rem">
  <div fxFlex="50">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Scrap.tf</mat-card-title>
        <mat-card-subtitle>scrap.tf</mat-card-subtitle>
      </mat-card-header>
      <a href="https://scrap.tf/" target="_blank">
        <img mat-card-image src="../../assets/img/scrap.png" alt="scrap.tf">
      </a>
      <mat-card-content>
        <p>
          We are an automated trading website that helps everyone in Team Fortress 2 get items they want fast and easy.
          Scrap.TF was created back in August of 2012 and has grown very much over the past years. Since then we've
          expanded from simply scrap banking to offering numerous services for players of many games.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button href="https://scrap.tf/" target="_blank">Visit</a>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="50">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Team Fortress 2 Mart</mat-card-title>
        <mat-card-subtitle>tf2mart.net</mat-card-subtitle>
      </mat-card-header>
      <a href="https://tf2mart.net/" target="_blank">
        <img mat-card-image src="../../assets/img/tf2mart.png" alt="tf2mart.net">
      </a>
      <mat-card-content>
        <p>
          Our fast automatic trading service will help you to exchange TF2 items you have for items you need. We have
          huge
          selection of items from cheapest crates to unusual accessories.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button href="https://tf2mart.net/" target="_blank">Visit</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
