<div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="2rem">
  <div fxFlex="50">
    <div class="card">
      <div class="card-content">
        <div class="header">
          <div class="title">backpack.tf</div>
          <div class="subtitle">backpack.tf</div>
        </div>
        <div class="text">
          Item trading, price tracking, backpack viewing, and more!
        </div>
        <div class="links">
          <a mat-button href="https://backpack.tf/" target="_blank">Visit</a>
        </div>
        <div class="image">
          <img src="../../assets/img/backpack.jpg" alt="backpack.tf" />
        </div>
      </div>
    </div>
  </div>
  <div fxFlex="50">
    <div class="card">
      <div class="card-content">
        <div class="header">
          <div class="title">Trade.tf</div>
          <div class="subtitle">trade.tf</div>
        </div>
        <div class="text">
          "Trade.tf is a website to search all trading websites at once with the ability to estimate how much profit
          can
          be made from the trades."
        </div>
        <div class="links">
          <a mat-button href="https://trade.tf/" target="_blank">Visit</a>
        </div>
        <div class="image">
          <img src="../../assets/img/trade-logo.png" alt="Trade.tf" />
        </div>
      </div>
    </div>
  </div>
</div>

<div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="2rem">
  <div fxFlex="50">
    <div class="card">
      <div class="card-content">
        <div class="header">
          <div class="title">Scrap.tf</div>
          <div class="subtitle">scrap.tf</div>
        </div>
        <div class="text">
          "We are an automated trading website that helps everyone in Team Fortress 2 get items they want fast and easy.
          Scrap.TF was created back in August of 2012 and has grown very much over the past years. Since then we've
          expanded from simply scrap banking to offering numerous services for players of many games."
        </div>
        <div class="links">
          <a mat-button href="https://scrap.tf/" target="_blank">Visit</a>
        </div>
        <div class="image">
          <img src="../../assets/img/scrap.png" alt="Scrap.tf" />
        </div>
      </div>
    </div>
  </div>
  <div fxFlex="50">
    <div class="card">
      <div class="card-content">
        <div class="header">
          <div class="title">Quicksell.store</div>
          <div class="subtitle">quicksell.store</div>
        </div>
        <div class="text">
          "Quicksell.store is a Team Fortress 2 trading site whose main purpose and drive is to help you have the best
          possible experience when buying and selling all kinds of items. Be it australiums, painted items or unusual
          hats, you never know what we might have in stock!

          With thousands of items and unusuals available we are prepared for any type of trade, no matter how big. Our
          competitive prices, efficient service and innovative mechanics make us a great choice to become your next home
          for anything trading related.

          The site has been trading since 2019."
        </div>
        <div class="links">
          <a mat-button href="https://quicksell.store/" target="_blank">Visit</a>
        </div>
        <div class="image">
          <img src="../../assets/img/quicksellstore.png" alt="Quicksell.store" />
        </div>
      </div>
    </div>
  </div>
</div>

<div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="2rem">
  <div fxFlex="50">
    <div class="card">
      <div class="card-content">
        <div class="header">
          <div class="title">Team Fortress 2 Mart</div>
          <div class="subtitle">tf2mart.net</div>
        </div>
        <div class="text">
          "Our fast automatic trading service will help you to exchange TF2 items you have for items you need. We have
          huge selection of items from cheapest crates to unusual accessories."
        </div>
        <div class="links">
          <a mat-button href="https://tf2mart.net/" target="_blank">Visit</a>
        </div>
        <div class="image">
          <img src="../../assets/img/tf2mart.png" alt="Team Fortress 2 Mart" />
        </div>
      </div>
    </div>
  </div>
  <div fxFlex="50"></div>
</div>
