<div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="2rem">
  <div fxFlex="50">
    <div class="card">
      <div class="card-content">
        <div class="header">
          <div class="title">Marketplace.tf</div>
          <div class="subtitle">marketplace.tf</div>
        </div>
        <div class="text">
          "Securely buy and sell TF2 and Dota 2 items."
        </div>
        <div class="links">
          <a mat-button href="https://marketplace.tf/" target="_blank">Visit</a>
        </div>
        <div class="image">
          <img src="../../assets/img/marketplace.png" alt="Marketplace.tf" />
        </div>
      </div>
    </div>
  </div>
  <div fxFlex="50">
    <div class="card">
      <div class="card-content">
        <div class="header">
          <div class="title">Mannco Trade</div>
          <div class="subtitle">mannco.trade</div>
        </div>
        <div class="text">
          "We are an automated TF2 trading website, which allows you to get your desired items quick and easy.
          Mannco.trade was created back in September the 2017th and has been growing faster than expected ever since.
          This site is exclusive as it is because you’re able to trade items from different qualities, types and classes
          with each other, without needing to pay in Metals or Keys. Almost every item in the Team Fortress 2 Trading
          Community is being accepted by the Bots."
        </div>
        <div class="links">
          <a mat-button href="https://mannco.trade/" target="_blank">Visit</a>
        </div>
        <div class="image">
          <img src="../../assets/img/manncotrade.jpg" alt="Mannco Trade" />
        </div>
      </div>
    </div>
  </div>
</div>
