<div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="2rem">
  <div fxFlex="50">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Marketplace.tf</mat-card-title>
        <mat-card-subtitle>marketplace.tf</mat-card-subtitle>
      </mat-card-header>
      <a href="https://marketplace.tf/" target="_blank">
        <img mat-card-image src="../../assets/img/marketplace.png" alt="marketplace.tf">
      </a>
      <mat-card-content>
        <p>
          "Securely buy and sell TF2 and Dota 2 items."
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button href="https://marketplace.tf/" target="_blank">Visit</a>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="50">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Mannco Trade</mat-card-title>
        <mat-card-subtitle>mannco.trade</mat-card-subtitle>
      </mat-card-header>
      <a href="https://mannco.trade/" target="_blank">
        <img mat-card-image src="../../assets/img/manncotrade.jpg" alt="mannco.trade">
      </a>
      <mat-card-content>
        <p>
          "We are an automated TF2 trading website, which allows you to get your desired items quick and easy.
          Mannco.trade was created back in September the 2017th and has been growing faster than expected ever since.
          This site is exclusive as it is because you’re able to trade items from different qualities, types and classes
          with each other, without needing to pay in Metals or Keys. Almost every item in the Team Fortress 2 Trading
          Community is being accepted by the Bots."
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button href="https://mannco.trade/" target="_blank">Visit</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
