<div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="2rem">
  <div fxFlex="50">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Marketplace.tf</mat-card-title>
        <mat-card-subtitle>marketplace.tf</mat-card-subtitle>
      </mat-card-header>
      <a href="https://marketplace.tf/" target="_blank">
        <img mat-card-image src="../../assets/img/marketplace.png" alt="marketplace.tf">
      </a>
      <mat-card-content>
        <p>
          Securely buy and sell TF2 and Dota 2 items.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button href="https://marketplace.tf/" target="_blank">Visit</a>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="50">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>TF2 Trade</mat-card-title>
        <mat-card-subtitle>tf2trade.tf</mat-card-subtitle>
      </mat-card-header>
      <a href="https://tf2trade.tf/" target="_blank">
        <img mat-card-image src="../../assets/img/TF2Trade.jpg" alt="tf2trade.tf">
      </a>
      <mat-card-content>
        <p>
          TF2Trade is a new Team Fortress 2 trading site where you can exchange items such as keys, metal, weapons, hats
          and
          more for any items you want all in one go! You can choose whether you want to only buy or sell certain TF2
          items
          or you can choose to swap items, we will provide change automatically for you! We are currently in our beta
          stage
          but as time goes on we'll continue adding more items to allow you trade for every item in the game!
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button href="https://tf2trade.tf/" target="_blank">Visit</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="2rem">
  <div fxFlex="50">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Mannco Trade</mat-card-title>
        <mat-card-subtitle>mannco.trade</mat-card-subtitle>
      </mat-card-header>
      <a href="https://mannco.trade/" target="_blank">
        <img mat-card-image src="../../assets/img/manncotrade.jpg" alt="mannco.trade">
      </a>
      <mat-card-content>
        <p>
          We are an automated TF2 trading website, which allows you to get your desired items quick and easy.
        </p>
        <p>
          Mannco.trade was created back in September the 2017th and has been growing faster than expected ever since.
          This
          site is exclusive as it is because you’re able to trade items from different qualities, types and classes with
          each other, without needing to pay in Metals or Keys. Almost every item in the Team Fortress 2 Trading
          Community
          is being accepted by the Bots.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button href="https://mannco.trade/" target="_blank">Visit</a>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="50">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Team Fortress 2 Mart</mat-card-title>
        <mat-card-subtitle>tf2mart.net</mat-card-subtitle>
      </mat-card-header>
      <a href="https://tf2mart.net/" target="_blank">
        <img mat-card-image src="../../assets/img/tf2mart.png" alt="tf2mart.net">
      </a>
      <mat-card-content>
        <p>
          Our fast automatic trading service will help you to exchange TF2 items you have for items you need. We have
          huge
          selection of items from cheapest crates to unusual accessories.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button href="https://tf2mart.net/" target="_blank">Visit</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
