<div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="2rem">
  <div fxFlex="50">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Creators.TF</mat-card-title>
        <mat-card-subtitle>Community Servers</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../assets/img/creators-halloween-2020.jpg" alt="Creators.TF Halloween 2020">
      <mat-card-content>
        <p>
          Welcome to Creators.TF, a TF2 community celebration project that takes the initiative to provide new content
          for
          Team Fortress 2.
        </p>
        <p>
          Using the help of community content creators, we can provide complete community-created events to our own
          servers through modding and plugins. Hats, weapons, maps, and much more! All of these will be created by the
          community, and implemented into our servers.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button href="https://creators.tf" target="_blank">Website</a>
        <a mat-button href="https://creators.tf/discord" target="_blank">Discord</a>
        <a mat-button href="https://twitter.com/creatorstf" target="_blank">Twitter</a>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="50">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>mastercomfig</mat-card-title>
        <mat-card-subtitle>Game Configuration</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../assets/img/mastercomfig.png" alt="mastercomfig">
      <mat-card-content>
        <p>
          A modern Team Fortress 2 performance and customization config.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button href="https://mastercomfig.com/" target="_blank">Website</a>
        <a mat-button href="https://docs.mastercomfig.com/" target="_blank">Docs</a>
        <a mat-button href="https://discord.gg/CuPb2zV" target="_blank">Discord</a>
        <a mat-button href="https://steamcommunity.com/groups/comfig" target="_blank">Steam Group</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="2rem">
  <div fxFlex="50">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>TF2 Classic</mat-card-title>
        <mat-card-subtitle>Game Mod</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../assets/img/tf2classic.png" alt="TF2 Classic">
      <mat-card-content>
        <p>
          A Team Fortress 2 mod aiming to re-imagine the 2008-2009 era, while also updating and adding new content.
          Developed by
          <a href="https://twitter.com/EminomaTeam" target="_blank">@EminomaTeam</a>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button href="https://tf2classic.com/" target="_blank">Website</a>
        <a mat-button href="https://discord.gg/3zMk4vn" target="_blank">Discord</a>
        <a mat-button href="https://twitter.com/tf2classic" target="_blank">Twitter</a>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="50">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Open Fortress</mat-card-title>
        <mat-card-subtitle>Game Mod</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../assets/img/openfortress.jpg" alt="Open Fortress">
      <mat-card-content>
        <p>
          Open Fortress is a free and open-source passion project, lovingly crafted by nearly a hundred members of the
          Team Fortress community with an ideal of fun gameplay as well as maximum customizability.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button href="https://openfortress.fun/" target="_blank">Website</a>
        <a mat-button href="https://discord.gg/Jk3NUb7" target="_blank">Discord</a>
        <a mat-button href="https://www.youtube.com/channel/UCtqmIR--kRAAGRdJ-LtEu1A/videos" target="_blank">YouTube</a>
        <a mat-button href="https://twitter.com/openfortress" target="_blank">Twitter</a>
        <a mat-button href="https://github.com/KaydemonLP/Open-Fortress-Content-Source" target="_blank">GitHub</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="2rem">
  <div fxFlex="50">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Pre-Fortress 2</mat-card-title>
        <mat-card-subtitle>Game Mod</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../assets/img/prefortress2.jpg" alt="Pre-Fortress 2">
      <mat-card-content>
        <p>
          A recreation mod, containing many elements from the beta and late alpha of TF2.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button href="https://t.co/ML25OsQfVL?amp=1" target="_blank">Discord</a>
        <a mat-button href="https://twitter.com/prefortress2" target="_blank">Twitter</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
