<div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="2rem">
  <div fxFlex="50">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Jump.tf</mat-card-title>
        <mat-card-subtitle>TF2 Jumping Community</mat-card-subtitle>
      </mat-card-header>
      <a href="https://jump.tf/" target="_blank">
        <img mat-card-image src="../../assets/img/jumptf.jpg" alt="jump.tf">
      </a>
      <mat-card-content>
        <p>
          "The TF2 Jumping community. Check it out."
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button href="https://jump.tf/" target="_blank">Visit</a>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="50">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Teamwork.tf</mat-card-title>
        <mat-card-subtitle>TF2 Community Hub</mat-card-subtitle>
      </mat-card-header>
      <a href="https://teamwork.tf/" target="_blank">
        <img mat-card-image src="../../assets/img/teamworktf.png" alt="teamwork.tf">
      </a>
      <mat-card-content>
        <p>
          "Provides a platform and tools to bring the TF2 community together. Between 2015 and 2020 we ran a network to
          support TF2 YouTubers. During a short break we came back with focus
          on community servers and statistics. And after a succesful Patreon campaign, teamwork.tf has now brought back
          the 'yellow pages for TF2'. Beside that we now also have great community tools for map makers, to get insight
          in player behaviour of maps."
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button href="https://teamwork.tf/" target="_blank">Visit</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="2rem">
  <div fxFlex="50">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Jump Academy</mat-card-title>
        <mat-card-subtitle>TF2 Jumping Community</mat-card-subtitle>
      </mat-card-header>
      <a href="https://jumpacademy.tf/" target="_blank">
        <img mat-card-image src="../../assets/img/jumpacademy.jpg" alt="jumpacademy.tf">
      </a>
      <mat-card-content>
        <p>
          "We are a community of jumpers from all around the world who share the same passion for jumping in Team
          Fortress 2."
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button href="https://jumpacademy.tf/" target="_blank">Visit</a>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="50">
  </div>
</div>
