<div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="2rem">
  <div fxFlex="50">
    <div class="card">
      <div class="card-content">
        <div class="header">
          <div class="title">Jump.tf</div>
          <div class="subtitle">Jumping Community</div>
        </div>
        <div class="text">"The TF2 Jumping community. Check it out."</div>
        <div class="links">
          <a mat-button href="https://jump.tf/" target="_blank">Visit</a>
        </div>
        <div class="image">
          <img src="../../assets/img/jumptf.jpg" alt="Jump.tf" />
        </div>
      </div>
    </div>
  </div>
  <div fxFlex="50">
    <div class="card">
      <div class="card-content">
        <div class="header">
          <div class="title">Jump Academy</div>
          <div class="subtitle">Jumping Community</div>
        </div>
        <div class="text">"We are a community of jumpers from all around the world who share the same passion for
          jumping in Team
          Fortress 2."</div>
        <div class="links">
          <a mat-button href="https://jumpacademy.tf/" target="_blank">Visit</a>
        </div>
        <div class="image">
          <img src="../../assets/img/jumpacademy.jpg" alt="Jump Academy" />
        </div>
      </div>
    </div>
  </div>
</div>

<div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="2rem">
  <div fxFlex="50">
    <div class="card">
      <div class="card-content">
        <div class="header">
          <div class="title">Teamwork.tf</div>
          <div class="subtitle">Community Hub</div>
        </div>
        <div class="text">"Provides a platform and tools to bring the TF2 community together. Between 2015 and 2020 we
          ran a network to
          support TF2 YouTubers. During a short break we came back with focus
          on community servers and statistics. And after a succesful Patreon campaign, teamwork.tf has now brought back
          the 'yellow pages for TF2'. Beside that we now also have great community tools for map makers, to get insight
          in player behaviour of maps."</div>
        <div class="links">
          <a mat-button href="https://teamwork.tf/" target="_blank">Visit</a>
        </div>
        <div class="image">
          <img src="../../assets/img/teamworktf.png" alt="Teamwork.tf" />
        </div>
      </div>
    </div>
  </div>
  <div fxFlex="50">
    <div class="card">
      <div class="card-content">
        <div class="header">
          <div class="title">TF2Maps</div>
          <div class="subtitle">Map Creators</div>
        </div>
        <div class="text">
          Mapping tutorials, contests, forums, and more!
        </div>
        <div class="links">
          <a mat-button href="https://tf2maps.net/" target="_blank">Website</a>
          <a mat-button href="https://twitter.com/tf2maps" target="_blank">Twitter</a>
          <a mat-button href="http://steamcommunity.com/groups/TF2Mappers" target="_blank">Steam Group</a>
          <a mat-button href="https://discord.gg/wSYJN3r" target="_blank">Discord</a>
        </div>
        <div class="image">
          <img src="../../assets/img/tf2maps.jpg" alt="TF2Maps" />
        </div>
      </div>
    </div>
  </div>
</div>
