<div class="welcome">
  <h1 class="title">CleanTF2</h1>
  <div class="text" fxLayout="column" fxLayoutGap="1rem">
    <div>A mod that provides a cleaner look.</div>
    <div><a href="https://github.com/theaswanson/CleanTF2/releases">Download</a></div>
    <div><a href="https://github.com/theaswanson/CleanTF2" target="_blank">GitHub</a></div>
  </div>
</div>
<div class="image-compare">
  <img-comparison-slider>
    <img slot="first" src="assets/img/cleantf2/1-normal.jpg" />
    <img slot="second" src="assets/img/cleantf2/1-flat.jpg" />
  </img-comparison-slider>
</div>
<div class="image-compare">
  <img-comparison-slider>
    <img slot="first" src="assets/img/cleantf2/2-normal.jpg" />
    <img slot="second" src="assets/img/cleantf2/2-flat.jpg" />
  </img-comparison-slider>
</div>
<div class="image-compare">
  <img-comparison-slider>
    <img slot="first" src="assets/img/cleantf2/3-normal.jpg" />
    <img slot="second" src="assets/img/cleantf2/3-flat.jpg" />
  </img-comparison-slider>
</div>
