<div class="grid-container">
  <div class="grid-item" *ngFor="let item of data">
    <div class="card">
      <div class="card-content">
        <div class="header">
          <div class="top">
            <div class="title">{{item.title}}</div>
            <div class="subtitle">{{item.subtitle}}</div>
          </div>
          <div class="subtitle">{{item.url}}</div>
        </div>
        <div class="text" fxLayout="column" fxLayoutGap="1rem">
          <div *ngFor="let descriptionLine of item.description">
            {{descriptionLine}}
          </div>
        </div>
        <div class="links">
          <a mat-button [href]="link.href" target="_blank" *ngFor="let link of item.links">
            <fa-icon [icon]="getIcon(link.text)" size="lg"></fa-icon>
          </a>
        </div>
        <div class="image" *ngIf="item.img">
          <a [href]="item.links[0].href" target="_blank">
            <img [src]="item.img.src" [alt]="item.title" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
