<div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="2rem">
  <div fxFlex="50">
    <div class="card">
      <div class="card-content">
        <div class="header">
          <div class="title">Official Website</div>
          <div class="subtitle">teamfortress.com</div>
        </div>
        <div class="text">The official website for Team Fortress 2.</div>
        <div class="links">
          <a mat-button href="https://www.teamfortress.com/" target="_blank">Visit</a>
        </div>
      </div>
      <div class="image">
        <img src="../../assets/img/teamfortress.com.png" alt="Official Website" />
      </div>
    </div>
  </div>
  <div fxFlex="50">
    <div class="card">
      <div class="card-content">
        <div class="header">
          <div class="title">Official Wiki</div>
          <div class="subtitle">wiki.teamfortress.com</div>
        </div>
        <div class="text">"The official resource for the Team Fortress series."</div>
        <div class="links">
          <a mat-button href="https://wiki.teamfortress.com/" target="_blank">Visit</a>
        </div>
      </div>
      <div class="image">
        <img src="../../assets/img/wiki.png" alt="Official Wiki" />
      </div>
    </div>
  </div>
</div>

<div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="2rem">
  <div fxFlex="50">
    <div class="card">
      <div class="card-content">
        <div class="header">
          <div class="title">Official Twitter</div>
          <div class="subtitle">twitter.com/TeamFortress</div>
        </div>
        <div class="text">Official Twitter account of the Team Fortress team.</div>
        <div class="links">
          <a mat-button href="https://twitter.com/TeamFortress" target="_blank">Visit</a>
        </div>
      </div>
      <div class="image">
        <img src="../../assets/img/twitter.jpg" alt="Official Twitter" />
      </div>
    </div>
  </div>
  <div fxFlex="50"></div>
</div>
