<div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="2rem">
  <div fxFlex="50">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Official Website</mat-card-title>
        <mat-card-subtitle>teamfortress.com</mat-card-subtitle>
      </mat-card-header>
      <a href="https://www.teamfortress.com/" target="_blank">
        <img mat-card-image src="../../assets/img/teamfortress.com.png" alt="teamfortress.com">
      </a>
      <mat-card-content>
        <p>
          The official website for Team Fortress 2.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button href="https://www.teamfortress.com/" target="_blank">Visit</a>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="50">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Official Wiki</mat-card-title>
        <mat-card-subtitle>wiki.teamfortress.com</mat-card-subtitle>
      </mat-card-header>
      <a href="https://wiki.teamfortress.com/" target="_blank">
        <img mat-card-image src="../../assets/img/wiki.png" alt="wiki.teamfortress.com">
      </a>
      <mat-card-content>
        <p>
          "The official resource for the Team Fortress series."
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button href="https://wiki.teamfortress.com/" target="_blank">Visit</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="2rem">
  <div fxFlex="50">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Official Twitter</mat-card-title>
        <mat-card-subtitle>twitter.com/TeamFortress</mat-card-subtitle>
      </mat-card-header>
      <a href="https://twitter.com/TeamFortress" target="_blank">
        <img mat-card-image src="../../assets/img/twitter.jpg" alt="twitter.com/TeamFortress">
      </a>
      <mat-card-content>
        <p>
          Official Twitter account of the Team Fortress team.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button href="https://twitter.com/TeamFortress" target="_blank">Visit</a>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="50">
  </div>
</div>
