<div class="welcome">
  <div class="title">Trashcan Script Generator</div>
  <div class="text" fxLayout="column" fxLayoutGap="1rem">
    <div>Use one key to cycle through binds. Simply enter each bind message on a new line, set your bind key, and hit generate.</div>
  </div>
</div>

<div class="settings">
  <div class="card">
    <div class="card-content">
      <textarea placeholder="Enter binds here, one per line..." rows="10" [(ngModel)]="bindsText"></textarea>
      <input type="text" maxlength="1" placeholder="Bind key" [(ngModel)]="bindKey" />
    </div>
  </div>
</div>

<button mat-button color="primary" (click)="buildConfig()">Generate</button>
